/*
 * Copyright 2013-2018 Benoit Schweblin, https://twitter.com/benweet
 * 
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 * 
 *     http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
html {
    line-height:1.15;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%
}
body {
    margin: 1.5em;
    margin-top: 0;
}
article, aside, footer, header, nav, section {
    display:block
}
h1 {
    font-size:2em;
    margin:.67em 0
}
figcaption, figure {
    display:block
}
figure {
    margin:1em 40px
}
hr {
    box-sizing:content-box;
    height:0;
    overflow:visible
}
main {
    display:block
}
pre {
    font-family:monospace, monospace;
    font-size:1em
}
a {
    background-color:transparent;
    -webkit-text-decoration-skip:objects
}
abbr[title] {
    border-bottom:none;
    text-decoration:underline;
    text-decoration:underline dotted
}
b, strong {
    font-weight:inherit;
    font-weight:bolder
}
code, kbd, samp {
    font-family:monospace, monospace;
    font-size:1em
}
dfn {
    font-style:italic
}
mark {
    background-color:#ff0;
    color:#000
}
small {
    font-size:80%
}
sub, sup {
    font-size:75%;
    line-height:0;
    position:relative;
    vertical-align:baseline
}
sub {
    bottom:-.25em
}
sup {
    top:-.5em
}
audio, video {
    display:inline-block
}
audio:not([controls]) {
    display:none;
    height:0
}
img {
    border-style:none
}
svg:not(:root) {
    overflow:hidden
}
button, input, optgroup, select, textarea {
    font-family:sans-serif;
    font-size:100%;
    line-height:1.15;
    margin:0
}
button {
    overflow:visible
}
button, select {
    text-transform:none
}
[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance:button
}
[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
    border-style:none;
    padding:0
}
[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
    outline:1px dotted ButtonText
}
input {
    overflow:visible
}
[type=checkbox], [type=radio] {
    box-sizing:border-box;
    padding:0
}
[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
    height:auto
}
[type=search] {
    -webkit-appearance:textfield;
    outline-offset:-2px
}
[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
    -webkit-appearance:none
}
::-webkit-file-upload-button {
    -webkit-appearance:button;
    font:inherit
}
fieldset {
    padding:.35em .75em .625em
}
legend {
    box-sizing:border-box;
    display:table;
    max-width:100%;
    padding:0;
    color:inherit;
    white-space:normal
}
progress {
    display:inline-block;
    vertical-align:baseline
}
textarea {
    overflow:auto
}
details {
    display:block
}
summary {
    display:list-item
}
menu {
    display:block
}
canvas {
    display:inline-block
}
[hidden], template {
    display:none
}
body, html {
    color:rgba(0, 0, 0, .75);
    font-size:16px;
    font-family:Lato, Helvetica Neue, Helvetica, sans-serif;
    font-variant-ligatures:common-ligatures;
    line-height:1.67;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}
.app--dark .layout__panel--editor, .app--dark .layout__panel--preview {
    color:hsla(0, 0%, 100%, .75)
}
blockquote, dl, ol, p, pre, ul {
    margin:1.2em 0
}
h1, h2, h3, h4, h5, h6 {
    margin:1.8em 0;
    line-height:1.33
}
h1:after, h2:after {
    content:"";
    display:block;
    position:relative;
    top:.33em;
    border-bottom:1px solid hsla(0, 0%, 50%, .33)
}
ol ol, ol ul, ul ol, ul ul {
    margin:0
}
dt {
    font-weight:700
}
a {
    color:#0c93e4;
    text-decoration:underline;
    text-decoration-skip:ink
}
a:focus, a:hover {
    text-decoration:none
}
code, pre, samp {
    font-family:Roboto Mono, Lucida Sans Typewriter, Lucida Console, monaco, Courrier, monospace;
    font-size:.85em
}
code *, pre *, samp * {
    font-size:inherit
}
blockquote {
    color:rgba(0, 0, 0, .5);
    padding-left:1.5em;
    border-left:5px solid rgba(0, 0, 0, .1)
}
code {
    background-color:rgba(0, 0, 0, .05);
    border-radius:3px;
    padding:2px 4px
}
hr {
    border:0;
    border-top:1px solid hsla(0, 0%, 50%, .33);
    margin:2em 0
}
pre > code {
    background-color:rgba(0, 0, 0, .05);
    display:block;
    padding:.5em;
    -webkit-text-size-adjust:none;
    overflow-x:auto;
    white-space:pre
}
.toc ul {
    list-style-type:none;
    padding-left:20px
}
table {
    background-color:transparent;
    border-collapse:collapse;
    border-spacing:0
}
td, th {
    border-right:1px solid #dcdcdc;
    padding:8px 12px
}
td:last-child, th:last-child {
    border-right:0
}
td {
    border-top:1px solid #dcdcdc
}
mark {
    background-color:#f8f840
}
kbd {
    font-family:Lato, Helvetica Neue, Helvetica, sans-serif;
    background-color:#fff;
    border:1px solid rgba(63, 63, 63, .25);
    border-radius:3px;
    box-shadow:0 1px 0 rgba(63, 63, 63, .25);
    color:#333;
    display:inline-block;
    font-size:.8em;
    margin:0 .1em;
    padding:.1em .6em;
    white-space:nowrap
}
abbr[title] {
    border-bottom:1px dotted #777;
    cursor:help
}
img {
    max-width:100%
}

/* === === */

.emoji {
  height: 1.2em;
}

